#recipe {

    hr {
        margin: 2rem 0;
        border: 1px solid $gray-300;
    }

    h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;

        @media (max-width: 572px) {
            font-size: 24px;
            line-height: 1.5;

        }
    }

    h4 {
        font-family: "Italianno", cursive;
        font-size: 3rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .top-gallery {
        display: flex;
        justify-content: space-between;

        .stars {
            .fa-star {
                color: $dark-accent;
            }

        }
    }

    .time {
        color: $dark-accent;
    }

    #gallery {
        .images-container {
            display: flex;
            flex-direction: column;

            > img {
                max-height: 600px;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
                margin-top: 2rem;

                @media (max-width: 576px) {
                    height: 300px;
                }

            }

            .thumbs {
                margin-top: 1rem;
                display: grid;
                cursor: pointer;
                gap: 10px;
                grid-template-columns: repeat(auto-fit, minmax(80px, 80px));

                img {
                    box-sizing: border-box;
                    width: 100%;
                    height: 56px;
                    //height: 100%;
                    //max-height: 80px;
                    object-fit: cover;
                    border-radius: 0.75rem;

                }
            }
        }
    }

    .top-comments {
        color: $dark-accent;

        a {

            &:hover {
                text-decoration: underline;
            }
        }
    }

     #ingredients {
         margin: 3rem 0;

         h4 {
             font-weight: 500;
             font-size: 64px;
             margin-bottom: 3rem;
         }


         .ingredients-container {
             display: grid;
             justify-content: center;
             grid-template-columns: repeat(auto-fit, minmax(80px,150px));
             gap: 1rem;

             .ingredient {

                 img {
                     max-width:150px;
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                     box-shadow: $shadow-md;
                 }

                 p {
                     margin: 0.5rem 0 0 0;
                     font-weight: 700;
                     width: 100%;
                     height: auto;
                 }

                 .ingredient-name {
                     text-decoration: underline;
                 }
             }
         }
     }

    #preparation {
        padding: 2rem 0;

        //> h4 + div {
        //    display: flex;
        //    justify-content: space-between;
        //    margin: auto;
        //    align-items: center;
        //}

        > div {
            margin-bottom: 3rem;
        }

        > div h6 {
            margin-bottom: 1rem;
        }

        h4 {
            font-weight: 500;
            font-size: 64px;
            margin-bottom: 3rem;
        }

        #steps {
            margin-top: 2rem;

            .step-title {
                text-align: left;
                color: $gray-700;
                margin-bottom: 0.5rem;
            }

            .step-content {
                text-align: left;
                margin: 2rem auto;
                width: 100%;

                //@media (max-width: 576px) {
                //    width: 100%;
                //}
            }
        }

    }

    #comments {
        background: $gray-100;
        padding: 2rem 0 0 0;

        h5 {
            margin-bottom: 2rem;

        }

        .comment-body {
            transition: background 300ms ease-in-out;
            user-select: none;

            + hr {
                &:last-child {
                    display: none;
                }
            }

            img {
                width: 48px;
                height: 48px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 1rem;

            }

            .user {
                display: flex;
                align-items: center;
                margin-bottom: 1.5rem;
            }


            .comment-user {
                color: $dark-accent;
            }

            .comment-content {
                text-align: left;
                width: 100%;
                margin: 1rem 0;
            }

            #note {
                font-weight: 700;
            }
        }



    }

    .not-connected {
        background: lighten($primary, 20);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        span {
            color: darken($primary, 50);
        }

        a {
            font-weight: 700;

            &:hover {
                text-decoration: underline;
            }
        }
    }


}

#add-comment {

    background-color: $gray-200;
    margin-top: 2rem;
    padding: 2rem 0;

    h5 {
        text-align: center;
    }

    form {
        label {
            display: block;
            margin-bottom: 1rem;
        }

        textarea {
            width: 100%;
            height: 300px;
            resize: none;
            border: 1px solid $gray-500;
            border-radius: 0.5rem;
            padding: 1rem;
            font-size: 1rem;
            font-family: "Inter", sans-serif;
            color: $gray-900;
        }

        select {
            width: 100%;
            max-width: 10rem;
            padding: 0.5rem;
            border: 1px solid $gray-500;
            border-radius: 0.5rem;
            background-color: #fff;
            cursor: pointer;
            font-size: 16px;
        }

        button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;
            background-color: $primary;
            cursor: pointer;
            border-radius: 0.5rem;
            transition: all 300ms ease-in-out;

            &:hover {
                background-color: lighten($primary, 5);
            }
        }
    }
}

#recipe-create {
    form {
        label {
            display: block;
            color: $gray-800;
            margin-bottom: 0.5rem;
        }

        input {
            border: 1px solid $gray-600;
            border-radius: 0.5rem;
            width: 100%;
            height: 40px;
            padding: 1rem;
            font-size: 1rem;
        }

        select {
            border: 1px solid $gray-600;
            border-radius: 0.5rem;
            width: 100%;
            height: 40px;
            font-size: 1rem;
            padding: 0 0.5rem;
            background-color: #fff;
        }

        label.js-label {
            position: relative;
            cursor: pointer;
            &:hover {
                &::after {
                    content: "+";
                    font-size: 80px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        input[type="file"] {
            display: none;
        }
    }

}

#add-more {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-100;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $gray-200;

        i {
            color: $gray-600;
            transform: scale(1.2)
        }
    }

    i {
        font-size: 40px;
        color: $gray-500;
        transition: all 300ms ease-in-out;

    }
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

button#next {
    background-color: $primary;
}

button#prev {
    background-color: $gray-300;
    margin-right: 1rem;
}

button#add-ingredient, #add-step {
    margin-top: 1rem;
    background-color: $dark-accent;
    padding: 0.75rem;
    color: #fff;
}

button#submit-recipe {
    background-color: $primary;
}

#step-row {
    textarea {
        width: 100%;
        height: 150px;
        padding: 1rem;
        border: 1px solid $gray-500;
        resize: none;
        border-radius: 0.5rem;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        color: $gray-900;

    }
}

